/* FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}
/* END OF FONTS */
/* DEFAULT TEMPLATE  */
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body, html {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}